In [1]:
import pandas as pd 
import numpy as np
import tensorflow as tf

import regex as re
import nltk 
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

In [2]:
doc = ['how is your week going, I ope it is going good']

In [3]:
tok = Tokenizer(oov_token='<UNK>')

In [4]:
tok.fit_on_texts(doc)

In [5]:
tok.word_index

{'<UNK>': 1,
 'is': 2,
 'going': 3,
 'how': 4,
 'your': 5,
 'week': 6,
 'i': 7,
 'ope': 8,
 'it': 9,
 'good': 10}

In [6]:
sequences = tok.texts_to_sequences(doc)

In [7]:
sequences

[[4, 2, 5, 6, 3, 7, 8, 9, 2, 3, 10]]

In [8]:
test_data = ['how is your week', 'today is wensdy','it is the mid day of the week','the week is going good']

In [9]:
df = pd.DataFrame({'raw text':test_data})

In [10]:
df

                        raw text
0               how is your week
1                today is wensdy
2  it is the mid day of the week
3         the week is going good

In [11]:
df['tok_sequence'] = df['raw text'].apply(lambda x:tok.texts_to_sequences([x]))

In [12]:
df

                        raw text                tok_sequence
0               how is your week              [[4, 2, 5, 6]]
1                today is wensdy                 [[1, 2, 1]]
2  it is the mid day of the week  [[9, 2, 1, 1, 1, 1, 1, 6]]
3         the week is going good          [[1, 6, 2, 3, 10]]

In [13]:
df['tok_oov_sequence'] = df['raw text'].apply(lambda x:tok.texts_to_sequences([x]))

In [14]:
df

,raw text,tok_sequence,tok_oov_sequence
0,how is your week,"[[4, 2, 5, 6]]","[[4, 2, 5, 6]]"
1,today is wensdy,"[[1, 2, 1]]","[[1, 2, 1]]"
2,it is the mid day of the week,"[[9, 2, 1, 1, 1, 1, 1, 6]]","[[9, 2, 1, 1, 1, 1, 1, 6]]"
3,the week is going good,"[[1, 6, 2, 3, 10]]","[[1, 6, 2, 3, 10]]"

# Padding

In [15]:
df['pre_padding'] = df['tok_oov_sequence'].apply(lambda x:pad_sequences(x,maxlen=5,padding='pre',truncating='pre'))

In [16]:
df

,raw text,tok_sequence,tok_oov_sequence,pre_padding
0,how is your week,"[[4, 2, 5, 6]]","[[4, 2, 5, 6]]","[[0, 4, 2, 5, 6]]"
1,today is wensdy,"[[1, 2, 1]]","[[1, 2, 1]]","[[0, 0, 1, 2, 1]]"
2,it is the mid day of the week,"[[9, 2, 1, 1, 1, 1, 1, 6]]","[[9, 2, 1, 1, 1, 1, 1, 6]]","[[1, 1, 1, 1, 6]]"
3,the week is going good,"[[1, 6, 2, 3, 10]]","[[1, 6, 2, 3, 10]]","[[1, 6, 2, 3, 10]]"

# Porter Stammer

In [17]:
import nltk
from nltk.stem import PorterStemmer

In [18]:
ps = PorterStemmer()

In [19]:
df['stemmed_text'] = df['raw text'].apply(lambda x:ps.stem(x))

In [20]:
df

,raw text,tok_sequence,tok_oov_sequence,pre_padding,stemmed_text
0,how is your week,"[[4, 2, 5, 6]]","[[4, 2, 5, 6]]","[[0, 4, 2, 5, 6]]",how is your week
1,today is wensdy,"[[1, 2, 1]]","[[1, 2, 1]]","[[0, 0, 1, 2, 1]]",today is wensdi
2,it is the mid day of the week,"[[9, 2, 1, 1, 1, 1, 1, 6]]","[[9, 2, 1, 1, 1, 1, 1, 6]]","[[1, 1, 1, 1, 6]]",it is the mid day of the week
3,the week is going good,"[[1, 6, 2, 3, 10]]","[[1, 6, 2, 3, 10]]","[[1, 6, 2, 3, 10]]",the week is going good

## Lemmatizer

In [21]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Error loading wordnet: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>
[nltk_data] Error loading omw-1.4: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [22]:
lm = WordNetLemmatizer()

In [23]:
df['Lemmed_text'] = df['raw text'].apply(lambda x: lm.lemmatize(x))

In [24]:
df

,raw text,tok_sequence,tok_oov_sequence,pre_padding,stemmed_text,Lemmed_text
0,how is your week,"[[4, 2, 5, 6]]","[[4, 2, 5, 6]]","[[0, 4, 2, 5, 6]]",how is your week,how is your week
1,today is wensdy,"[[1, 2, 1]]","[[1, 2, 1]]","[[0, 0, 1, 2, 1]]",today is wensdi,today is wensdy
2,it is the mid day of the week,"[[9, 2, 1, 1, 1, 1, 1, 6]]","[[9, 2, 1, 1, 1, 1, 1, 6]]","[[1, 1, 1, 1, 6]]",it is the mid day of the week,it is the mid day of the week
3,the week is going good,"[[1, 6, 2, 3, 10]]","[[1, 6, 2, 3, 10]]","[[1, 6, 2, 3, 10]]",the week is going good,the week is going good

In [25]:
assigment_data = ["India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[26] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi."]

In [26]:
assigment_data

["India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[26] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi."]

In [27]:
str = " "
assigment_data = str.join(assigment_data)

In [28]:
def data_cleaning(text):
    text = text.lower() # convert everything into lower case
    text = re.sub('[^a-z]',' ',text) #only allowed small a-z
    words = text.split()
    imp_words = [w for w in words if w not in stop]
    return ' '.join(imp_words)

In [29]:
main_data = data_cleaning(assigment_data)

In [30]:
main_data

'india officially republic india hindi bh rat ga ar jya country south asia seventh largest country area second populous country populous democracy world bounded indian ocean south arabian sea southwest bay bengal southeast shares land borders pakistan west f china nepal bhutan north bangladesh myanmar east indian ocean india vicinity sri lanka maldives andaman nicobar islands share maritime border thailand myanmar indonesia nation capital city new delhi'

In [31]:
tok1 = Tokenizer(oov_token='<UNK>')

In [32]:
tok1.fit_on_texts(assigment_data)

In [33]:
tok1.word_index

{'<UNK>': 1,
 'a': 2,
 'n': 3,
 't': 4,
 'i': 5,
 'e': 6,
 'o': 7,
 'h': 8,
 's': 9,
 'd': 10,
 'r': 11,
 'l': 12,
 'c': 13,
 'u': 14,
 'y': 15,
 'b': 16,
 'm': 17,
 'p': 18,
 'f': 19,
 'w': 20,
 'g': 21,
 'v': 22,
 'ā': 23,
 'k': 24,
 'ṇ': 25,
 'j': 26,
 '2': 27,
 '6': 28,
 "'": 29}

In [34]:
sequences1 = tok1.texts_to_sequences(assigment_data)

In [35]:
sequences1

[[5],
 [3],
 [10],
 [5],
 [2],
 [],
 [],
 [7],
 [19],
 [19],
 [5],
 [13],
 [5],
 [2],
 [12],
 [12],
 [15],
 [],
 [4],
 [8],
 [6],
 [],
 [11],
 [6],
 [18],
 [14],
 [16],
 [12],
 [5],
 [13],
 [],
 [7],
 [19],
 [],
 [5],
 [3],
 [10],
 [5],
 [2],
 [],
 [],
 [8],
 [5],
 [3],
 [10],
 [5],
 [],
 [],
 [16],
 [8],
 [23],
 [11],
 [2],
 [4],
 [],
 [21],
 [2],
 [25],
 [2],
 [11],
 [23],
 [26],
 [15],
 [2],
 [],
 [],
 [],
 [27],
 [28],
 [],
 [],
 [5],
 [9],
 [],
 [2],
 [],
 [13],
 [7],
 [14],
 [3],
 [4],
 [11],
 [15],
 [],
 [5],
 [3],
 [],
 [9],
 [7],
 [14],
 [4],
 [8],
 [],
 [2],
 [9],
 [5],
 [2],
 [],
 [],
 [5],
 [4],
 [],
 [5],
 [9],
 [],
 [4],
 [8],
 [6],
 [],
 [9],
 [6],
 [22],
 [6],
 [3],
 [4],
 [8],
 [],
 [12],
 [2],
 [11],
 [21],
 [6],
 [9],
 [4],
 [],
 [13],
 [7],
 [14],
 [3],
 [4],
 [11],
 [15],
 [],
 [16],
 [15],
 [],
 [2],
 [11],
 [6],
 [2],
 [],
 [],
 [4],
 [8],
 [6],
 [],
 [9],
 [6],
 [13],
 [7],
 [3],
 [10],
 [],
 [17],
 [7],
 [9],
 [4],
 [],
 [18],
 [7],
 [18],
 [14],
 [12],
 [7],
 [14],
 [9],
 [],
 [13],
 [7],
 [14],
 [3],
 [4],
 [11],
 [15],
 [],
 [],
 [2],
 [3],
 [10],
 [],
 [4],
 [8],
 [6],
 [],
 [17],
 [7],
 [9],
 [4],
 [],
 [18],
 [7],
 [18],
 [14],
 [12],
 [7],
 [14],
 [9],
 [],
 [10],
 [6],
 [17],
 [7],
 [13],
 [11],
 [2],
 [13],
 [15],
 [],
 [5],
 [3],
 [],
 [4],
 [8],
 [6],
 [],
 [20],
 [7],
 [11],
 [12],
 [10],
 [],
 [],
 [16],
 [7],
 [14],
 [3],
 [10],
 [6],
 [10],
 [],
 [16],
 [15],
 [],
 [4],
 [8],
 [6],
 [],
 [5],
 [3],
 [10],
 [5],
 [2],
 [3],
 [],
 [7],
 [13],
 [6],
 [2],
 [3],
 [],
 [7],
 [3],
 [],
 [4],
 [8],
 [6],
 [],
 [9],
 [7],
 [14],
 [4],
 [8],
 [],
 [],
 [4],
 [8],
 [6],
 [],
 [2],
 [11],
 [2],
 [16],
 [5],
 [2],
 [3],
 [],
 [9],
 [6],
 [2],
 [],
 [7],
 [3],
 [],
 [4],
 [8],
 [6],
 [],
 [9],
 [7],
 [14],
 [4],
 [8],
 [20],
 [6],
 [9],
 [4],
 [],
 [],
 [2],
 [3],
 [10],
 [],
 [4],
 [8],
 [6],
 [],
 [16],
 [2],
 [15],
 [],
 [7],
 [19],
 [],
 [16],
 [6],
 [3],
 [21],
 [2],
 [12],
 [],
 [7],
 [3],
 [],
 [4],
 [8],
 [6],
 [],
 [9],
 [7],
 [14],
 [4],
 [8],
 [6],
 [2],
 [9],
 [4],
 [],
 [],
 [5],
 [4],
 [],
 [9],
 [8],
 [2],
 [11],
 [6],
 [9],
 [],
 [12],
 [2],
 [3],
 [10],
 [],
 [16],
 [7],
 [11],
 [10],
 [6],
 [11],
 [9],
 [],
 [20],
 [5],
 [4],
 [8],
 [],
 [18],
 [2],
 [24],
 [5],
 [9],
 [4],
 [2],
 [3],
 [],
 [4],
 [7],
 [],
 [4],
 [8],
 [6],
 [],
 [20],
 [6],
 [9],
 [4],
 [],
 [],
 [19],
 [],
 [],
 [13],
 [8],
 [5],
 [3],
 [2],
 [],
 [],
 [3],
 [6],
 [18],
 [2],
 [12],
 [],
 [],
 [2],
 [3],
 [10],
 [],
 [16],
 [8],
 [14],
 [4],
 [2],
 [3],
 [],
 [4],
 [7],
 [],
 [4],
 [8],
 [6],
 [],
 [3],
 [7],
 [11],
 [4],
 [8],
 [],
 [],
 [2],
 [3],
 [10],
 [],
 [16],
 [2],
 [3],
 [21],
 [12],
 [2],
 [10],
 [6],
 [9],
 [8],
 [],
 [2],
 [3],
 [10],
 [],
 [17],
 [15],
 [2],
 [3],
 [17],
 [2],
 [11],
 [],
 [4],
 [7],
 [],
 [4],
 [8],
 [6],
 [],
 [6],
 [2],
 [9],
 [4],
 [],
 [],
 [5],
 [3],
 [],
 [4],
 [8],
 [6],
 [],
 [5],
 [3],
 [10],
 [5],
 [2],
 [3],
 [],
 [7],
 [13],
 [6],
 [2],
 [3],
 [],
 [],
 [5],
 [3],
 [10],
 [5],
 [2],
 [],
 [5],
 [9],
 [],
 [5],
 [3],
 [],
 [4],
 [8],
 [6],
 [],
 [22],
 [5],
 [13],
 [5],
 [3],
 [5],
 [4],
 [15],
 [],
 [7],
 [19],
 [],
 [9],
 [11],
 [5],
 [],
 [12],
 [2],
 [3],
 [24],
 [2],
 [],
 [2],
 [3],
 [10],
 [],
 [4],
 [8],
 [6],
 [],
 [17],
 [2],
 [12],
 [10],
 [5],
 [22],
 [6],
 [9],
 [],
 [],
 [5],
 [4],
 [9],
 [],
 [2],
 [3],
 [10],
 [2],
 [17],
 [2],
 [3],
 [],
 [2],
 [3],
 [10],
 [],
 [3],
 [5],
 [13],
 [7],
 [16],
 [2],
 [11],
 [],
 [5],
 [9],
 [12],
 [2],
 [3],
 [10],
 [9],
 [],
 [9],
 [8],
 [2],
 [11],
 [6],
 [],
 [2],
 [],
 [17],
 [2],
 [11],
 [5],
 [4],
 [5],
 [17],
 [6],
 [],
 [16],
 [7],
 [11],
 [10],
 [6],
 [11],
 [],
 [20],
 [5],
 [4],
 [8],
 [],
 [4],
 [8],
 [2],
 [5],
 [12],
 [2],
 [3],
 [10],
 [],
 [],
 [17],
 [15],
 [2],
 [3],
 [17],
 [2],
 [11],
 [],
 [],
 [2],
 [3],
 [10],
 [],
 [5],
 [3],
 [10],
 [7],
 [3],
 [6],
 [9],
 [5],
 [2],
 [],
 [],
 [4],
 [8],
 [6],
 [],
 [3],
 [2],
 [4],
 [5],
 [7],
 [3],
 [29],
 [9],
 [],
 [13],
 [2],
 [18],
 [5],
 [4],
 [2],
 [12],
 [],
 [13],
 [5],
 [4],
 [15],
 [],
 [5],
 [9],
 [],
 [3],
 [6],
 [20],
 [],
 [10],
 [6],
 [12],
 [8],
 [5],
 []]

# Porter Stemmer

In [37]:
porter_stemmer = ps.stem(main_data)

In [38]:
porter_stemmer

'india officially republic india hindi bh rat ga ar jya country south asia seventh largest country area second populous country populous democracy world bounded indian ocean south arabian sea southwest bay bengal southeast shares land borders pakistan west f china nepal bhutan north bangladesh myanmar east indian ocean india vicinity sri lanka maldives andaman nicobar islands share maritime border thailand myanmar indonesia nation capital city new delhi'

# Lemmatizer

In [39]:
Lemmatizer =  lm.lemmatize(main_data)

In [40]:
Lemmatizer

'india officially republic india hindi bh rat ga ar jya country south asia seventh largest country area second populous country populous democracy world bounded indian ocean south arabian sea southwest bay bengal southeast shares land borders pakistan west f china nepal bhutan north bangladesh myanmar east indian ocean india vicinity sri lanka maldives andaman nicobar islands share maritime border thailand myanmar indonesia nation capital city new delhi'